<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Gerenciamento de pets</li>
    </ol>
</nav>
<div class="container">
    <div class="card list-pet">
        <h5 class="card-header">Lista de Pets</h5>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Nome do Animal</th>
                        <th scope="col">Raça</th>
                        <th scope="col">Especíe</th>
                        <th scope="col">Nome do Dono</th>
                        <th scope="col">Telefone do Dono</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let pet of pets">
                        <td>{{pet.id}}</td>
                        <td>{{pet.nomeAnimal}}</td>
                        <td>{{pet.raca}}</td>
                        <td>{{pet.especie}}</td>
                        <td>{{pet.nomeDono}}</td>
                        <td>{{pet.telDono}}</td>
                        <td>
                            <button type="button" class="btn btn-warning btn-sm" (click)="editPet(pet)">Editar</button>
                            <button type="button" class="btn btn-danger btn-sm ml-1" (click)="deletePet(pet)">Deletar</button>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="card add-pet">
        <h5 class="card-header">Incluir/Atualizar pet</h5>
        <div class="card-body">
            <form id="add-form" (ngSubmit)="f.form.valid && savePet(f)" #f="ngForm" novalidate>
                <div class="form-group">
                    <label for="nomeAnimal">Nome do Animal</label>
                    <input type="text" [(ngModel)]="pet.nomeAnimal" id="nomeAnimal" name="nomeAnimal" #nomeAnimal="ngModel" required class="form-control" [ngClass]="{ 'is-invalid': f.submitted && nomeAnimal.invalid }" placeholder="Digite o nome do animal">
                    <div *ngIf="f.submitted && nomeAnimal.invalid" class="invalid-feedback">
                        <div *ngIf="nomeAnimal.errors">Nome do animal é obrigatório</div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="especie">Especie</label>
                    <select class="form-control" id="especie" name="especie" required class="form-control" [ngClass]="{ 'is-invalid': f.submitted }" placeholder="Digite a especie">
                      <option>C. lupus</option>
                      <option>Felis catus</option>                     
                    </select>
                </div>

                <div class="form-group">
                    <label for="raca">Raça</label><br>
                    <select class="form-control" id="raca" name="raca" required class="form-control" [ngClass]="{ 'is-invalid': f.submitted }" placeholder="Digite a raca">                     
                        <option value="0" *ngFor="let breed of breeds">{{breed.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="nomeDono">Nome do Dono</label>
                    <input type="text" [(ngModel)]="pet.nomeDono" id="nomeDono" name="nomeDono" #nomeDono="ngModel" required class="form-control" [ngClass]="{ 'is-invalid': f.submitted && nomeDono.invalid }" placeholder="Digite o nome do Dono">
                    <div *ngIf="f.submitted && nomeDono.invalid" class="invalid-feedback">
                        <div *ngIf="nomeDono.errors">Nome do Dono do animal é obrigatório</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="telDono">Telefone do Dono</label>
                    <input type="text" [(ngModel)]="pet.telDono" id="telDono" name="telDono" #telDono="ngModel" required class="form-control" [ngClass]="{ 'is-invalid': f.submitted && telDono.invalid }" placeholder="Digite o telefone do Dono">
                    <div *ngIf="f.submitted && telDono.invalid" class="invalid-feedback">
                        <div *ngIf="telDono.errors">Telefone do Dono do animal é obrigatório</div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-add-pet">Salvar</button>
                <button type="reset" class="btn btn-secondary btn-add-pet" (click)="cleanForm(f)">Cancelar</button>
            </form>
        </div>
    </div>
</div>
